@media (min-width: 769px) {
  body {
    margin: 0;
  }
  .background_animation {
    position: fixed;
    border: 0;
    z-index: -5;
    width: 100%;
    height: 100%;
  }
  .child {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #cach-perm {
    margin-top: 100px;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 4px 4px 10px gray;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
  }
  .cancel-cach {
    background-color: white;
    border: 2px solid red;
    color: red;
    padding: 5px;
    font-weight: bolder;
    font-size: large;
    margin-right: 50px;
    transition: all 0.3s ease;
  }
  .cancel-cach:hover {
    scale: 1.1;
    background-color: red;
    color: white;
    border-radius: 5px;
  }
  .cancel-cach:hover::after {
    content: " 😒";
  }

  .accept-cach {
    background-color: white;
    border: 2px solid #08a88a;
    color: #08a88a;
    padding: 5px;
    font-weight: bolder;
    font-size: large;
    margin-right: 50px;
    transition: all 0.3s ease;
  }
  .accept-cach:hover {
    scale: 1.1;
    background-color: #08a88a;
    color: white;
    border-radius: 5px;
  }
  .accept-cach:hover::after {
    content: " 😘";
  }

  .navigation {
    margin-top: 20px;
    background: linear-gradient(to right, #08a88a, #08a88a, white);
    width: 80%;
    display: flex;

    justify-content: space-between;
    align-items: center;

    border-bottom: 7px solid;
    border-top: 2px solid;
    border-right: 7px solid black;
    border-image: linear-gradient(to right, #08a88a, black, black, black, black)
      1;

    padding: 10px;
  }

  .sub-nave {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 80px;
    border-radius: 200px;
    margin-right: 10px;
    background-color: white;
  }
  .right-nav-part {
    display: flex;
  }
  .more {
    background-color: transparent;
    border: none;
    padding: 0;
    /* border-left: 1px solid gray;*/
    margin-left: 15px;
    cursor: pointer;
  }
  .contact-us {
    margin-right: 15px;
  }
  .search-div {
    margin-top: 20px;
    width: 80%;

    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    border-bottom: 7px solid black;
    border-right: 7px solid black;
    box-shadow: 4px 4px 10px black;
  }
  #search_bar_lable {
    padding-left: 20px;
  }
  .sub-search-input-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }
  .conferm-search {
    background-color: transparent;
    border: none;
  }
  #search_bar {
    margin-top: 20px;
    width: 80%;
    background-color: white;
    height: 40px;
    border-radius: 50px;
    padding-left: 10px;
  }
  .search_result {
    background-color: transparent;
    border: 2px solid rgba(76, 190, 255, 0.6);
    color: #252a2b;
    margin: 5px;
    transition: all 0.3s ease;
  }
  .search_result:hover {
    border-radius: 5px;
    scale: 1.1;
    z-index: 2;
    box-shadow: 4px 4px 10px #252a2b;
    background-color: rgba(76, 190, 255, 0.6);
    color: #252a2b;
  }
  .search_result:hover h3 {
    text-shadow: 2px 2px 4px #252a2b;
  }
  .search-display-div {
    padding: 20px;
  }
  .search_history {
    background-color: transparent;
    border: 2px solid rgba(76, 190, 255, 0.6);
    color: #252a2b;
    margin: 5px;
    transition: all 0.3s ease;
    padding: 10px;
    font-weight: bolder;
    font-size: x-large;
  }
  .search_history:hover {
    border-radius: 5px;
    scale: 1.1;
    z-index: 2;
    box-shadow: 4px 4px 10px #252a2b;
    background-color: rgba(76, 190, 255, 0.6);
    color: #252a2b;
    text-shadow: 2px 2px 4px #252a2b;
  }
  .navigation-menu {
    position: fixed;
    flex-direction: column;
    z-index: 10;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    right: 10px;
    top: 120px;
    border: 1px solid black;
    box-shadow: 4px 4px 10px gray;
  }
  .forcast_choice {
    border: none;
    border-bottom: 3px dashed #08a88a;
    border-left: 3px dashed #08a88a;
    background-color: white;
    font-size: x-large;
    font-weight: bolder;
    color: #08a88a;
    margin-bottom: 50px;
    text-align: left;
    transition: all 0.3s ease;
  }
  .forcast_choice:hover {
    scale: 1.1;
    border-left: 3px solid #08a88a;
    border-bottom: 3px solid #08a88a;
    border-bottom-left-radius: 10px;
  }
  .settings {
    border: none;
    background-color: white;
    border-bottom: 3px dashed #08a88a;
    border-left: 3px dashed #08a88a;
    font-size: x-large;
    font-weight: bolder;
    color: #08a88a;
    margin-bottom: 50px;
    text-align: left;
    transition: all 0.3s ease;
  }
  .settings:hover {
    scale: 1.1;
    border-left: 3px solid #08a88a;
    border-bottom: 3px solid #08a88a;
    border-bottom-left-radius: 10px;
  }
  .main_content {
    display: flex;
    border-radius: 10px;
    border: 2px solid black;
    border-bottom: 7px solid black;
    border-right: 7px solid black;
    box-shadow: 4px 4px 10px black;
    width: 80%;
    background-color: white;
    margin-top: 20px;
  }
  .main_content hr {
    margin: 20px;
  }
  .head_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #weather_icon {
    width: 200px;
    display: flex;
    flex-direction: column;

    justify-content: center;
  }
  #weather_icon img {
    scale: 0.5;
  }
  .text_content {
    width: 100%;
  }
  .sub-info-1 {
    /*width: 110%;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #sub_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sub_content_data {
    margin: 15px;
  }
  #alerts_display {
    display: none;
    width: 80%;
    padding: 10px;
    background-color: white;
    box-shadow: 4px 4px 10px red;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 50px;
  }
  #alerts_display h3 {
    max-width: 60%;
  }
  #alerts_display hr {
    border-width: 2px;
  }
  .alerts_btn {
    border: none;
    text-align: center;
    width: 100%;
    font-weight: bolder;
    font-size: x-large;
  }
  .alerts_btn:hover {
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  body {
    margin: 0;
  }
  .background_animation {
    position: fixed;
    border: 0;
    z-index: -5;
    width: 100%;
    height: 100%;
  }
  .child {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #cach-perm {
    margin-top: 100px;
    display: none;
    z-index: 5;
    position: absolute;
    background-color: white;
    box-shadow: 4px 4px 10px gray;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
  }
  .cancel-cach {
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid red;
    color: red;
    padding: 5px;
    font-weight: bolder;
    font-size: large;
    margin-right: 50px;
    transition: all 0.3s ease;
  }
  .cancel-cach:hover {
    scale: 1.1;
    background-color: red;
    color: white;
    border-radius: 5px;
  }
  .cancel-cach:hover::after {
    content: " 😒";
  }

  .accept-cach {
    background-color: white;
    border: 2px solid #08a88a;
    color: #08a88a;
    padding: 5px;
    font-weight: bolder;
    font-size: large;
    margin-right: 50px;
    transition: all 0.3s ease;
  }
  .accept-cach:hover {
    scale: 1.1;
    background-color: #08a88a;
    color: white;
    border-radius: 5px;
  }
  .accept-cach:hover::after {
    content: " 😘";
  }

  .navigation {
    width: 90%;
    margin-top: 20px;
    background: linear-gradient(to right, #08a88a, #08a88a, white);

    display: flex;

    justify-content: space-between;
    align-items: center;

    border-bottom: 7px solid;
    border-top: 2px solid;
    border-right: 7px solid black;
    border-image: linear-gradient(to right, #08a88a, black, black, black, black)
      1;

    padding: 10px;
  }
  .sub-nave {
    display: flex;
  }
  .logo {
    display: none;
  }
  .right-nav-part {
    display: flex;
  }
  .more {
    background-color: transparent;
    border: none;
    padding: 0;
    /* border-left: 1px solid gray;*/
    margin-left: 15px;
    cursor: pointer;
  }
  .contact-us {
    margin-right: 15px;
  }
  .search-div {
    margin-top: 20px;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    border-bottom: 7px solid black;
    border-right: 7px solid black;
    box-shadow: 4px 4px 10px black;
  }
  #search_bar_lable {
    padding-left: 20px;
  }
  .sub-search-input-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }
  .conferm-search {
    background-color: transparent;
    border: none;
  }
  #search_bar {
    margin-top: 20px;
    width: 80%;
    background-color: white;
    height: 40px;
    border-radius: 50px;
    padding-left: 10px;
  }
  .search_result {
    background-color: transparent;
    border: 2px solid rgba(76, 190, 255, 0.6);
    color: #252a2b;
    margin: 5px;
    transition: all 0.3s ease;
  }
  .search_result:hover {
    border-radius: 5px;
    scale: 1.1;
    z-index: 2;
    box-shadow: 4px 4px 10px #252a2b;
    background-color: rgba(76, 190, 255, 0.6);
    color: #252a2b;
  }
  .search_result:hover h3 {
    text-shadow: 2px 2px 4px #252a2b;
  }
  .search-display-div {
    padding: 20px;
  }
  .search_history {
    background-color: transparent;
    border: 2px solid rgba(76, 190, 255, 0.6);
    color: #252a2b;
    margin: 5px;
    transition: all 0.3s ease;
    padding: 10px;
    font-weight: bolder;
    font-size: x-large;
  }
  .search_history:hover {
    border-radius: 5px;
    scale: 1.1;
    z-index: 2;
    box-shadow: 4px 4px 10px #252a2b;
    background-color: rgba(76, 190, 255, 0.6);
    color: #252a2b;
    text-shadow: 2px 2px 4px #252a2b;
  }
  .navigation-menu {
    position: fixed;
    flex-direction: column;
    z-index: 10;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    right: 10px;
    top: 120px;
    border: 1px solid black;
    box-shadow: 4px 4px 10px gray;
  }
  .forcast_choice {
    border: none;
    border-bottom: 3px dashed #08a88a;
    border-left: 3px dashed #08a88a;
    background-color: white;
    font-size: x-large;
    font-weight: bolder;
    color: #08a88a;
    margin-bottom: 50px;
    text-align: left;
    transition: all 0.3s ease;
  }
  .forcast_choice:hover {
    scale: 1.1;
    border-left: 3px solid #08a88a;
    border-bottom: 3px solid #08a88a;
    border-bottom-left-radius: 10px;
  }
  .settings {
    border: none;
    background-color: white;
    border-bottom: 3px dashed #08a88a;
    border-left: 3px dashed #08a88a;
    font-size: x-large;
    font-weight: bolder;
    color: #08a88a;
    margin-bottom: 50px;
    text-align: left;
    transition: all 0.3s ease;
  }
  .settings:hover {
    scale: 1.1;
    border-left: 3px solid #08a88a;
    border-bottom: 3px solid #08a88a;
    border-bottom-left-radius: 10px;
  }
  .main_content {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid black;
    border-bottom: 7px solid black;
    border-right: 7px solid black;
    box-shadow: 4px 4px 10px black;
    width: 90%;
    background-color: white;
    margin-top: 20px;
  }
  .main_content hr {
    margin: 20px;
  }
  .head_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #weather_icon {
    width: 200px;
    display: flex;
    flex-direction: column;

    justify-content: center;
  }
  #weather_icon img {
    scale: 0.5;
  }
  .text_content {
    width: 100%;
  }
  /* #sub_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }*/
  .sub_content_data {
    margin: 15px;
  }
  #alerts_display {
    display: none;
    background-color: white;
    width: 80%;
    padding: 10px;
    box-shadow: 4px 4px 10px red;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 50px;
  }
  #alerts_display h3 {
    max-width: 60%;
  }
  #alerts_display hr {
    border-width: 2px;
  }
  .alerts_btn {
    border: none;
    text-align: center;
    width: 100%;
    font-weight: bolder;
    font-size: x-large;
  }
  .alerts_btn:hover {
    cursor: pointer;
  }
}
