.settings h1 {
  text-align: center;
  padding-top: 20px;
  color: #08a88a;
}

.settings label {
  display: inline-block;
  font-weight: bold;
  color: #08a88a;
  font-size: x-large;
}
.settings {
  position: absolute;
  top: 50%;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: initial;
  height: initial;
  border: 2px solid #08a88a;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 18px 0px black;
  color: #0e4166;
}
.settings-item {
  text-align: center;
  margin: 35px;
}
.settings select {
  transform: scale(1.5);
  margin-top: 20px;
}
.settings option {
  font-size: larger;
}

.settings button {
  width: 200px;
  height: 45px;
  font-size: 20px;
  border: 2px solid #08a88a;
  background-color: white;
  color: #08a88a;

  transition: all 0.3s ease;
}
.settings button:hover {
  background-color: #08a88a;
  color: white;
  scale: 1.1;
}
@media screen and (max-width: 600px) {
  .settings button[type="submit"] {
    width: 100%;
    margin-top: 10px;
  }
}
