* {
  padding: 0;
  margin: 0;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #08a88a;
  background-image: linear-gradient(to bottom, #08a88a, #08a88a, #0e4166);
  z-index: -20
}
h1 {
  text-align: center;
  padding-top: 20px;
  color:  #08a88a;
}

.feedback {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: initial;
  height: initial;
  border: 1px solid;
  background-color: rgb(255, 255, 255); 
  box-shadow: 0px 0px 18px 0px black; 
  color:#0e4166;
}
.feedback-item{
 text-align: center;
 margin: 35px;
}
label{
  display: inline-block;
  font-weight: bold;
  color:#08a88a;
  font-size: x-large;
}
input{
  height: 30px;
  width: 250px;
  border: 2px solid black;
}
button {
  width: 200px;
  height: 45px;
  font-size: 20px;
  border: 2px solid  #08a88a;
  background-color: #08a88a;
  color: white;
}
button:hover {
  background-color: white;
  color:  #08a88a;
  transition:all 0.3s ease;
}
@media screen and (max-width: 600px) {
  input[type=text], select, textarea {
    width: 100%;
    margin-top: 0;
  }
  button[type=submit] {
    width: 100%;
    margin-top: 10px;
  }}